<!DOCTYPE html>
<html>
  <head>
    <title>MindApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <% if user_signed_in? %>

    <nav class="nav">
      <a class="nav-link active" aria-current="page" href="#"><%= link_to 'Home', home_path, style: 'color:#333; flex:1 ' %></a>
      <a class="nav-link" href="#"><%= link_to 'Contents', contents_path, style: 'color:#333' %></a>
      <a class="nav-link" href="#"><%= link_to 'Logout', destroy_user_session_path, method: :delete, style: 'color:#333' %></a>
    </nav>

    
    
    
    <% end %>
    
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
  </div>

  </body>
</html>
